/*
 *******************
 * PAGE MAIN STYLE *
 *******************
*/

body {
  background: $blue-color;
  user-select: none;
}

footer {
  padding: 10px;
  color: $light-color;
  background: $black;
  font-family: roboto-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  nav {
    float: right;
    padding-top: 10px;

    li {
      float: left;
      margin-left: 20px;
    }
  }
}
