/*
 *******************
 * PAGE MAIN STYLE *
 *******************
*/

body {
  background: $blue-color;
  user-select: none;
}

/* HEADER */

header {
  display: flex;
  justify-content: center;

  nav {
    float: right;
    padding-top: 10px;

    li {
      float: left;
      margin-left: 20px;
    }
  }
}
