


@media screen and (min-width: 901px) {
    #hamburger {
        display: none !important;
    }
    #burger-options {
        display: none !important;
    }
}
    
@media only screen and (max-width: 900px) {
    // hide the other tab options
    .tab {
        display: none !important;
    }
}

@media only screen and (max-width: 700px) {
    // hide the other tab options

    .features {
        flex-direction: column !important;

        .feature-tile {
            width: 100% !important;
        }
    }

    .location {
        flex-direction: column !important;
    }

}

@media only screen and (max-width: 1280px) {
    // hide the other tab options

    .features {
        .feature-tile {
            width: 30% !important;
        }
    }

}

@media only screen and (max-width: 930px) {
    // hide the other tab options

    .features {
        .feature-tile {
            width: 40% !important;
        }
    }

}
