/*--------------------------------------------------------------
# Variables (Colors, Fonts, sizes)
--------------------------------------------------------------*/
@import "variables";

/*--------------------------------------------------------------
# Normalize & Print
--------------------------------------------------------------*/
@import "normalize";
@import "print";

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/**Optionally add Bootstrap to your project**/
/* @import "~bootstrap/scss/bootstrap"; */
@import "app";

/*--------------------------------------------------------------
# Responsive Bug Fixes
--------------------------------------------------------------*/
@import "media";

header {
    .header-content {
        display: flex;
        justify-content: space-between;
        width: $site-width;
        padding: 10px;
    }
    nav {
        .tab {
            color: $light-color;
            font-family: mr-eaves-modern,sans-serif;
            font-weight: 200;
            font-style: normal;
            font-size: 26px;
            cursor: pointer;

            &:hover {
                color:$accent-color;
                text-shadow: none;
            }
        }
        .active-tab {
            color:$accent-color;
            text-shadow: none;
        }
        #hamburger {
            color: $light-color;
            display: flex;
            font-weight: 300;
            font-style: normal;
            font-size: 30px;
            cursor: pointer;
        }
        .active-burger {
            color:$accent-color !important;
        }
    }

    .header-image-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        img {
            height: 50px;
        }
    }
}

.burger-options {
    color: $light-color;
    font-size: 36px;
    font-family: roboto,sans-serif;
    font-weight: 200;
    font-style: normal;
    position: absolute;
    justify-content: center;
    width: 100%;
    background:$dark-color;
    padding: 10px;
    opacity: .9;
    visibility: hidden;
    box-shadow: 0 4px 6px -6px $dark-color;
    transition: $ease-out;

    ul {
        padding: 2px;
    }

    .active-burger-tab {
        color: $accent-color;
    }

    &-active {
        visibility: initial;
    }
}

main {
    display: flex;
    flex-direction: column;
    .backdrop {
        filter: opacity(.8);
        width: 100%;
        color: $light-color;
        font-family: roboto,sans-serif;
        font-weight: 200;
        font-style: normal;
        background-position: center center;
		background-repeat:  no-repeat;
		background-attachment: fixed;
		background-size:  cover;

        &-content {
            background-color: rgba(0,0,0,.65);
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: row;

            &-container {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                width: $site-width;
                padding-top: 50px;
                padding-bottom: 60px;
                &-title {
                    font-family: roboto-condensed, sans-serif;
                    font-weight: 300;
                    font-style: normal;
                    font-size: 34px;
                    margin-bottom: 10px;
                }
                &-description {
                    font-family: mr-eaves-modern, sans-serif;
                    font-weight: 200;
                    font-style: normal;
                    font-size: 25px;
                    padding:50px;
                    padding-top: 20px;
                    padding-bottom: 25px;

                }
                &-byline {
                    padding: 20px;
                    font-size: 22px;
                    background: rgba($accent-color, 0.8);
                }
            }
        }
    }

    .main-content {
        background: $accent-color;
        .main-content-container {
            .location {
                color: $dark-color;
                padding: 25px;
                display: flex;
                justify-content: center;
                flex-direction: row;

                .location-icon {
                    font-size: 30px;
                }
                .location-description {
                    font-family: mr-eaves-modern, sans-serif;
                    font-weight: 200;
                    font-style: normal;
                    font-size: 28px;
                    text-align: left;
                    margin-right: 15px;
                }
            }
        }
    }
}


.icon-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);

    a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 20px;

        &:hover {
            background-color: #000;
            z-index: 100;
        }
    }
    .facebook {
        background: #3B5998;
        color: white;
    }

    .instagram {
        background: #cd486b;
        color: white;
    }
    
    .youtube {
        background: #bb0000;
        color: white;
    }
    
    .content {
        margin-left: 75px;
        font-size: 30px;
    }
  }